.controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 35px 30px;
  background: linear-gradient(180deg, transparent 0%, rgba(#000, .6) 50%, rgba(#000, .8) 100%);
}

.controlsBottom {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  padding: 0 20px;
  & > * {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &.colSecond {
    i {
      font-size: 26px;
    }
  }
}

.time {
  font-size: 18px;
}