.title {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.h1 {
  font-size: 30px;
}

.h2 {
  font-size: 24px;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
}

.center {
  text-align: center;
}