.list {
  display: flex;
  align-items: center;
  & > * {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.filmsWithTitle {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 18px;
  }
}