.single-film {
  position: relative;
  width: 100%;
  padding: 120px 70px 70px 90px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  z-index: 1;

  &-faded {
    position: relative;
    & > * {
      position: absolute;
      width: 100%;
    }
  }

  &--episodes {
    &:before {
      opacity: 0;
    }
    .single-film__seasons {
      width: calc(100% - 90px);

      bottom: 160px;
    }
    .seasons {
      padding-left: 70px;
    }
    .seasons__play {
      height: 53px;
      width: 53px;
      bottom: 20px;
      left: -27px;
      i {
        font-size: 26px;
      }
    }
  }

  &--details {
    .single-film__seasons {
      width: 0;
      right: -100px;
    }
  }

  &--episodes, &--details {
    .single-film-title {
      font-size: 30px;
      max-width: 260px;
      &__wrapper {
        height: 72px;  
        margin-top: 0px;
      }
    }
    &:after {
      background: rgba($dark-bg, .7) !important;
      // backdrop-filter: blur(10px);
    }
  }

  &-about {
    position: absolute;
    display: flex;
  }

  &-info {
    max-width: 500px;
  }

  &-title {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 500px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1em;
    transition: .3s;
    &__wrapper {
      position: relative;
      height: 130px;
      margin-bottom: 30px;
      transition: .3s;
    }
  }

  &-about {
    right: 0;
    top: -30px;
    .line {
      display: flex;
      .col {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .col {
      flex: 1;
    }
    &__block {
      margin-bottom: 25px;
      h4 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      li {
        font-size: 14px;
        margin-bottom: 6px;
        font-weight: 400;
      }
    }
  }

  &-trailers {
    margin-left: 90px;
    .episode {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__desc {
    max-width: 530px;
    font-size: 18px;
    line-height: 1.5em;
  }

  &__short-desc {
    max-width: 320px;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: $grey;
  }

  &__options {
    margin-bottom: 30px;
    > * {
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;
    }
  }

  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    // background: linear-gradient(90deg, rgba($dark, .8), transparent),
    // linear-gradient(55deg, rgba($dark, .7), transparent);
    background: linear-gradient(90deg, rgba($dark-bg, .8), transparent);
    z-index: -1;
    transition: .2s;
  }
  &:after {
    background: transparent;
  }
}

.single-film__seasons {
  position: absolute;
  width: 700px;
  height: 330px;
  right: 0;
  bottom: 70px;
  transition: .3s ease-in-out;
}

.single-film-nav {
  position: absolute;
  bottom: 70px;
  display: flex;
  align-items: center;
  z-index: 1;
  &__line {
    height: 5px;
    position: absolute;
    background: $accent;
    bottom: 2px;
    transition: .2s;
    z-index: -1;
  }
  &__item {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-right: 45px;
    line-height: 1.4em;
    cursor: pointer;
  }
}

.age-rating {
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
}

.fadeDown-enter {
  opacity: 0;
  transform: translateY(5px);
}
.fadeDown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: .2s;
}
.fadeDown-exit {
  transform: translateY(0px);
  opacity: 1;
}
.fadeDown-exit-active {
  opacity: 0;
  transform: translateY(5px);
  transition: .2s;
}